div.pa.footer
  a#footer_index.pa.btn-index(href="#" onfocus="showdiv('index_focus')" onblur="closediv('index_focus')" style="z-index=1")
    img(src="../static/images/p135_footer_index_07.jpg")
  div.pa.btn.btn-index.img.nom(style="z-index=2")
  div#index_focus.pa.btn-index.img.focus(style="visibility:hidden;")
  a#footer_home.pa.btn-home(href="#" onfocus="showdiv('home_focus')" onblur="closediv('home_focus')" style="z-index=1")
    img(src="../static/images/p135_footer_home_08.jpg")
  div.pa.btn.btn-home.img.nom(style="z-index=2")
  div#home_focus.pa.btn-home.img.focus(style="visibility:hidden;")
  a#footer_back.pa.btn-back(href="#" onfocus="showdiv('back_focus')" onblur="closediv('back_focus')" style="z-index=1")
    img(src="../static/images/p135_footer_back_09.jpg")
  div.pa.btn.btn-back.img.nom(style="z-index=2")
  div#back_focus.pa.btn-back.img.focus(style="visibility:hidden;")