doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  head
    title DSQB-10-账户不能充值提示
    include _header
  body
    div.pa.pr.wrap.top-up
      div.pa.header.lt
        div.pa.balance-icon.ic2
        div.pa.balance.b2
          em.text-white 账户余额：
          em.text-yellow 1000.00
          em.text-white 元
        //- a#hdupbtn.pa.hd-up-btn(href="#" onfocus="showdiv('hdup')" onblur="closediv('hdup')" style="z-index=1")
        //-   img(src="static/images/p135_topup_btn.jpg")
        //- div.pa.hd-up-btn.img.nom(style="z-index=2")
        //- div#hdup.pa.hd-up-btn.img.focus(style="visibility:hidden;")
      div.pa.container
        div.pa.status-icon.icon-fail.fail1
        div.pa.status-info.tc.fail.fail1 充值失败！
        div.pa.info.info1
          em.text-white 您的机顶盒暂不支持电视充值，请前往线下广电营业厅完成账户充值。
        a.pa.ok(href="#" onfocus="showdiv('ok')" onblur="closediv('ok')" style="z-index=1")
          img(src="static/images/p135_ok_btn.png")
        div.pa.ok.img.nom(style="z-index=2")
        div#ok.pa.ok.img.focus(style="visibility:hidden;")
      include _footer
  script(type='text/javascript').
    /**
    * 机顶盒编号
    * @method base.tbId
    * @since p53
    * @type string
    * @default 00000000000
    */
    //base.tbId = window.guangxi ? guangxi.getStbNum() || guangxi.System.newwork.macAddress.replace(/:/g, '').replace(/No Card/g, '') || doc.all.ip.value : '00000000000';
    /**
    * 机顶盒类型
    * @method base.tbType
    * @since p53
    * @type string
    * @default 0000
    */
    //base.tbType = window.iPanel ? /(Safari)|(Chrome)|(Firefox)/.test(navigator.userAgent) ? base.tbId.length == 11 && base.tbId.substring(2, 4) == '19' ? '0002' : window.iPanel.getGlobalVar('RESOLUTION_1280_720') ? '0003' : '0002' : '0001' : '0000';
    //if(base.tbType != (0002 || '0002' || 0003 || '0003'))return false;
    function showdiv(id) {
        document.getElementById(id).style.visibility="visible";
    }

    function closediv(id) {
        document.getElementById(id).style.visibility="hidden";
    }
